*{
    box-sizing: border-box;
    padding: 0px;
    /* margin: 0px; */
}

.list-container {
    height: 100vh;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.list {

    margin: auto;
}
